header {
  text-align: center;
  font-size: 1.2em;
}

.chess-board {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 5em;
  background-color: #fff;
}

section {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
}

main {
  width: 60%;
  text-align: center;
  align-items: center;
  margin: 100px auto;
}

.modal {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 50%;
  background-color: rgba(247, 237, 235, 0.9);
  padding: 6rem;
  border-radius: 5px;
  text-align: center;
  border: 2px solid black;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.winner-info {
  font-size: 4em;
}

button {
  height: 30px;
  width: 100px;
  margin-top: 20px;
  color: black;
}
.or {
  margin: 20 auto 0 auto;
}

body {
  background-color: rgb(20, 189, 172);
}

input {
  height: 30px;
}
